<div class="navbar w-100">
    <div class="logo_container d-inline-block w-25">
      <img src="./assets/images/logo.png" class="logo"/>
    </div>

    <ul class="d-inline-block float-start w-50 menu_options d-flex justify-content-evenly">
      <li class="d-inline-block me-2">
        <a href="#" class="text-white text-decoration-none">Inicio</a>
      </li>
      <li class="d-inline-block me-2">
        <a href="#" class="text-white text-decoration-none">Servicios</a>
      </li>
      <li class="d-inline-block me-2">
        <a href="#" class="text-white text-decoration-none">Asóciate</a>
      </li>
      <li class="d-inline-block me-2">
        <a href="#" class="text-white text-decoration-none">APIs</a>
      </li>
      <li class="d-inline-block me-2">
        <a href="#" class="text-white text-decoration-none">Empresa</a>
      </li>
      <li class="d-inline-block me-2">
        <a href="#" class="text-white text-decoration-none">Noticias</a>
      </li>
      <li class="d-inline-block me-2">
        <a href="#" class="text-white text-decoration-none">Tarifas</a>
      </li>
      <li class="d-inline-block me-2">
        <a href="#" class="text-white text-decoration-none">Contacto</a>
      </li>
    </ul>

    <div class="w-25 text-white">
      <!-- <p>Hola</p> -->
    </div>

  </div>

<div class="container">

  

  <div class="container">
    <app-terminals-showed></app-terminals-showed>
  </div>

  

</div>