  <form (submit)="update()" [formGroup]="terminalOwnerInformation"
        class="modal fade" id="updateTerminal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Terminal con id {{terminal?.idTerminal}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            <!-- <form (submit)="update()" [formGroup]="terminalOwnerInformation"> -->

                <div class="row d-flex justify-content-evenly mb-3">
                    <div class="col-5">
                        <label>Nombre</label>
                        <input type="text" class="form-control" formControlName="name"/>
                        <span *ngIf="isInvalidField('name')"
                          class="form-text text-danger">
                            Error en el campo
                        </span>
                    </div>
                    <div class="col-5">
                        <label>Apellido</label>
                        <input type="text" class="form-control" formControlName="lastName"/>
                        <span *ngIf="isInvalidField('lastName')"
                          class="form-text text-danger">
                            Error en el campo
                        </span>
                    </div>
                </div>
    
                <div class="row mb-3">
                    <div class="col-12">
                        <label>Fecha de nacimiento</label>
                        <input type="date" class="form-control" formControlName="bornDate"/>
                        <span *ngIf="isInvalidField('bornDate')"
                          class="form-text text-danger">
                            Error en el campo
                        </span> 
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <label>Número de tarjeta</label>
                        <input type="text" class="form-control" formControlName="cardNumber"/>
                        <span *ngIf="isInvalidField('cardNumber')"
                          class="form-text text-danger">
                            Error en el campo
                        </span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <label>Banco emisor</label>
                        <input type="text" class="form-control" formControlName="bank"/>
                        <span *ngIf="isInvalidField('bank')"
                          class="form-text text-danger">
                            Error en el campo
                        </span>
                    </div>
                </div>
            <!-- </form> -->


        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="this.terminalOwnerInformation.invalid">Actualizar</button>
        </div>
      </div>
    </div>
</form>